@font-face {
    font-family: OpenDyslexic3;
    src: url(OpenDyslexic\ 3\ \(Beta\ -\ Windows\,\ MacOS\,\ Linux\ TTF\)/OpenDyslexic3-Regular.ttf);   
}
@font-face {
    font-family: OpenDyslexic3-Bold;
    src: url(OpenDyslexic\ 3\ \(Beta\ -\ Windows\,\ MacOS\,\ Linux\ TTF\)/OpenDyslexic3-Bold.ttf);   
}
body {
    background-color: #A0AECD;
    margin: 0 10%;
    font-family: OpenDyslexic3;
    }
  h1
  {
    text-align: center;
    font-family: OpenDyslexic3-Bold;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    margin-top: 30px;
  }
  h2
  {
    font-size: 1em;
    letter-spacing: .5em;
    color: rgb(61, 61, 27);
  }
  p
  {
    color: #162946;
    font-size: 1em;
  }
  picture
  {
    width: 100%;
    height: auto;
  }
.footer
{
    text-align: center;
    font-size: 0.8em;
    color: #162946;
    margin-top: 30px;
    border-top: 1px solid #000000;
    padding-top: 10px;
}
.bold
{
    font-family: OpenDyslexic3-Bold;
    font-size: 1.5em;
}
#links
{
    text-align: left;
    font-size: 0.8em;
    color: #162946;
    margin-top: 30px;
    border-top: 1px solid #000000;
    padding-top: 10px;
    
}